<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AngularRazorpayIntergration</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <div class="container">
        <h1 style="color:rgb(0, 0, 0);">AGI Electricity Payment </h1>
        <h1 style="color: rgb(255, 0, 0);">Confirm Your Payment</h1>
        <button class="but" (click) = "paynow()">Proceed to Payment Now</button>
    </div>
</body>
</html>