<html>
<head>
    <title>User Dashboard</title>
</head>

<body>
    <link rel = "stylesheet" href = "user-dashboard.component.css">
    <div class="side-menu">
        <div class="brand-name">
            <h1>AGI Electricity</h1>
            
        </div>
        <ul>
            <li><img src="dashboard (2).png" alt="">&nbsp; <span>User Dashboard</span> </li>            
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><img src="assets/search.png" alt=""></button>
                </div>
                <div class="user">
                    <img src="notifications.png" alt="">
                    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>Inba</h1>
                    </div>
                    
                </div>
                <div class="card">
                    <div class="box">
                        <h1>34243</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <a routerLink="/payment"><h1>Payment</h1></a>
                    </div>
                </div>
                
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Paid Bills</h2>
                        
                    </div>
                    <table>
                        <tr>
                            <th>Due Date</th>
                            <th>Readings</th>
                            <th>Amount</th>
                            
                        </tr>
                        <tr >
                            <td>01.04.2022</td>
                            <td>231 units</td>
                            <td>Rs 500</td>
                        </tr>
                        <tr >
                            <td>01.03.2022</td>
                            <td>211 units</td>
                            <td>Rs 480</td>
                        </tr>
                        <tr >
                            <td>01.02.2022</td>
                            <td>189 units</td>
                            <td>Rs 440</td>
                        </tr>
                        <tr >
                            <td>01.01.2021</td>
                            <td>261 units</td>
                            <td>Rs 560</td>
                        </tr>
                        <tr >
                            <td>01.12.2021</td>
                            <td>211 units</td>
                            <td>Rs 400</td>
                        </tr>
                        
                    </table>
                </div>
                <div class="content-2">
                    <div class="recent-payment">
                        <div class="title">
                            <h2>Payment Pending</h2>
                        </div>
                        <table>
                            <tr>
                                <th>Due Date</th>
                                <th>Readings</th>
                                <th>Amount</th>
                            </tr>
                            <tr >
                                <td>01.05.2022</td>
                                <td>189 units</td>
                                <td>Rs 440</td>
                            </tr>
                            <tr >
                                <td>01.06.2022</td>
                                <td>189 units</td>
                                <td>Rs 440</td>
                            </tr>
    
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    
</body>

</html>