<header>  
  <div class="image">
    <img src="assets/R.jfif" alt="">
  </div>

  <div class="wrapper">
      <div class="logo">
          <img src="https://i.postimg.cc/GpdP362Q/logo.png" alt="">
      </div>
<ul class="nav-area">
  <div class="h">
    <li><a href="#">Home</a></li>
  </div>
  <div class="ab">
    <li><a href="#">About</a></li>
  </div>
  <div class="s">
    <li><a href="#">Services</a></li>
  </div>
  <div class="re">
    <li><a routerLink="/user-register">Register</a></li>
  </div>
</ul>
</div>
<div class="welcome-text">
      <h2>Switches Off...</h2>
      <h1>Future On...</h1>
      <br>
      <br>
      <p>To Continue, <a href="/userlogin">Login</a></p>

  </div>
</header>
